<% layout("../layouts/boilerplate.ejs") %>
        <a href="/new">Become A seller</a><br>
        <a href="/signup">Sign Up</a><br>
        <a href="/signin">Sign In</a><br>
        <a href="/logout">Log Out</a>
