<% layout("../layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/listings/landingPage.css">
    <section class="landing-container">
        <a href="/listings">
            <button class="explore-btn">Explore</button>
        </a>
    </section>
<script src="/scripts/listings/landingPage.js"></script>