<% layout("../layouts/boilerplate.ejs") %>
    <form>
        <label for="email">
            Enter email:
            <input type="email" id="email" required>
        </label>
        <button>Send Otp</button>
    </form>
