<% layout("../layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/user/forgot-password.css">
<div class="form-container">
    <h2>Forgot Password</h2>
    <p class="form-subtitle">Enter your registered email address and we'll send you an OTP.</p>
    <form action="/forgot-password" method="POST">
        <div class="form-group">
            <label>Enter Email:</label>
            <input type="email" id="email" name="email" placeholder="example@email.com" required>
        </div>
        <button type="submit">Send OTP</button>
    </form>
</div>

