<% layout("../layouts/boilerplate.ejs") %>
    <form action="/forgot-password" method="post">
        <label for="email">
            Enter email:
            <input type="email" id="email" name="email" required>
        </label>
        <button>Send Otp</button>
    </form>
