<% layout("../layouts/boilerplate.ejs") %>
    <label for="password">
        Enter new password: 
        <input type="password" id="password" required>
    </label>
    <br>
    <label for="confirm-password">
        Confirm Pasword:
        <input type="password" id="confirm-password" required>
    </label>
    <br>
    <button>Change Password</button>
    