<% layout("../layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/stylesheets/user/reset-password.css">
<div class="reset-container">
    <h2>Reset Password</h2>
    <form action="/reset-password" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="form-group">
            <label>OTP</label>
            <input type="text" name="otp" placeholder="Enter OTP" required>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input type="password" name="newPassword" placeholder="New Password" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmNewPassword" placeholder="Confirm Password" required>
        </div>
        <button type="submit">Reset Password</button>
    </form>
</div>
