
<% if (success && success.length > 0) { %>
    <div style="color: green;">
        <%= success %>
    </div>
<% } %>

<% if (error && error.length > 0) { %>
    <div style="color: red;">
        <%= error %>
    </div>
<% } %>