<link rel="stylesheet" href="/stylesheets/includes/header.css">
<header class="navbar">
    <div class="nav-container">
        <h2 class="logo">
            <a href="/listings"><strong>VibeStay</strong></a>
        </h2>

        <nav>
            <ul class="nav-links">
                <li><a href="/listings">All Listings</a></li>
                <% if(!currentUser) { %>
                    <li><a href="/signIn">Sign In</a></li>
                    <li><a href="/signUp">Sign Up</a></li>
                <% }else    { %>
                    <li><a href="/listings/new">Add Listing</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>